<div id="preloader">
  <div class="preloader-inner">
    <div class="preloader-frame"></div>
    <div class="preloader-text">
      <span class="preloader-letter" style="--i:0">N</span>
      <span class="preloader-letter" style="--i:1">E</span>
      <span class="preloader-letter" style="--i:2">E</span>
      <span class="preloader-letter" style="--i:3">V</span>
      <span class="preloader-letter" style="--i:4">A</span>
      <span class="preloader-letter" style="--i:5">R</span>
      <span class="preloader-letter" style="--i:6">A</span>
    </div>
    <div class="preloader-line"></div>
    <p class="preloader-sub">REALTY</p>
  </div>
</div>
